{% extends "layout.html" %}
<!doctype html>
{% block content %}
<title>Manage Events</title>
<style type='text/css'>
    .nav-link{
        font-size: 1.4em;
    }
    .event-wrapper{
        padding: 10px;
    }
    .time-wrapper, .data-wrapper{
        margin-right: 10px;
    }
    .event-container{
        border: 2px solid black;
        width: 300px;
        float: left;
        margin: 10px;
    }
    .cron-input{
        width: 70px;
    }
    #update-event-name{
        width: 200px;
    }
    #config-table{
        margin-bottom: 20px;
    }
</style>

<script type="text/javascript">

    // Global container
    affirmative_ui = {};

    $(document).ready(function(){

        var d = new Date();
        $("<span></span>").text("The time of this page load was: " + d.toUTCString())
            .appendTo("#update-event-explanation");
        var get_event_config = function(){
            $.ajax({
                url: "/affirmative/get_event_config",
                data: {},
                success: function(data){ 
                    affirmative_ui.event_config = JSON.parse(data);
                    render_event_config(JSON.parse(data)); 
                },
                error: function(){ alert("something went wrong."); }
            });
        }

        var render_event_config = function(event_config){
            // Have to turn the dict into an array
            var as_array = _.map(_.keys(event_config), function(x){return event_config[x]});
            $('#config-table').dataTable({
                "destroy": true,
                "data": as_array,
                "columns": [
                    { "data": "name"},
                    { "data": "key"},
                    { "data": "cron_minutes"},
                    { "data": "cron_hours"},
                    { "data": "cron_days_of_month"},
                    { "data": "cron_months"},
                    { "data": "cron_days_of_week"},
                    { "data": "min_allowed"},
                    { "data": "max_allowed"},
                    { "data": "lookback_string"}
                ],
                "order": [[0, "asc"]],
                "paging": false
            });
        }

        var validate_fields = function(){
            // This is just some light validation
            // The python will do the real tricky stuff
            var message = "";
            var name = $("#update-event-name").val();
            var name_regex = new RegExp("^[a-z_]+$");
            if(!name_regex.test(name)){
                message = "Name can only consist of lowercase letters and underscores.";
            }
            $(".cron-input").each(function(){
                var cron_val = $(this).val();
                var numbers_and_commas_regex = new RegExp("^[0-9,]+$");
                var dashes_and_numbers_regex = new RegExp("^[0-9-]+$");
                var single_number_regex = new RegExp("^[0-9]+$");
                var star_with_slash_regex = new RegExp("^\\*/[0-9]+$");

                var passes_one = false;
                if(cron_val == "*"){
                    passes_one = true;
                }
                if(numbers_and_commas_regex.test(cron_val)){
                    passes_one = true;
                }
                if(dashes_and_numbers_regex.test(cron_val)){
                    passes_one = true;
                }
                if(single_number_regex.test(cron_val)){
                    passes_one = true;
                }
                if(star_with_slash_regex.test(cron_val)){
                    passes_one = true;
                }

                if(!passes_one){
                    message = "One of more of the cron fields are badly formatted. See guide.";
                }
                    
            });
            return message;
        }
        
        $("#update-event-key").focusout(function(){
            var key = $(this).val();
            var key_config = affirmative_ui.event_config[key];
            fill_in_config_to_update(key_config);
        });

        var fill_in_config_to_update = function(config){
            $("#update-event-min-allowed").val(config.min_allowed);
            $("#update-event-max-allowed").val(config.max_allowed);
            $("#update-event-lookback-string").val(config.lookback_string);

            $("#update-event-cron-minutes").val(config.cron_minutes);
            $("#update-event-cron-hours").val(config.cron_hours);
            $("#update-event-cron-months").val(config.cron_months);
            $("#update-event-cron-days-of-month").val(config.cron_days_of_month);
            $("#update-event-cron-days-of-week").val(config.cron_days_of_week);
        }

        $("#register-event-button").click(function(){
            var event_name = $("#register-event-name").val();
            var data = {event_name: event_name};
            $.ajax({
                url: "/affirmative/register_event",
                type: "POST",
                data: data,
                success: function(data){ 
                    if(data != "yay"){ 
                        render_new_or_update_error(data);
                    }
                    else{
                        location.reload();
                    }
                },
                error: function(data){ render_new_or_update_error(data); }
            });
        });

        $("#update-event-button").click(function(){
            $(".validation-warning").remove();
            var validation_message = validate_fields();
            if(validation_message != ""){
                $("<div class='alert alert-danger validation-warning'></div>")
                    .text(validation_message)
                    .insertAfter("#config-table").hide().show(300); 
                return false;
            }
            var key = $("#update-event-key").val();
            var min_allowed = $("#update-event-min-allowed").val();
            var max_allowed = $("#update-event-max-allowed").val();
            var lookback_string = $("#update-event-lookback-string").val();

            var cron_minutes = $("#update-event-cron-minutes").val();
            var cron_hours = $("#update-event-cron-hours").val();
            var cron_months = $("#update-event-cron-months").val();
            var cron_days_of_month = $("#update-event-cron-days-of-month").val();
            var cron_days_of_week = $("#update-event-cron-days-of-week").val();

            var data = {
                key: key,
                min_allowed: min_allowed,
                max_allowed: max_allowed,
                lookback_string: lookback_string,
                cron_minutes: cron_minutes,
                cron_hours: cron_hours,
                cron_months: cron_months,
                cron_days_of_month: cron_days_of_month,
                cron_days_of_week: cron_days_of_week
            }

            $.ajax({
                url: "/affirmative/update_event_config",
                type: "POST",
                data: data,
                success: function(data){ 
                    if(data != "yay"){ 
                        render_new_or_update_error(data);
                    }
                    else{
                        location.reload();
                    }
                },
                error: function(data){ render_new_or_update_error(data); }
            });
        });

        var render_new_or_update_error = function(message){
            // Might be an object if it's a 500 error etc.
            if(typeof message == "object"){
                message = "Something went wrong!";
            }
            // Otherwise it's a message from the server.
            $("<div class='alert alert-danger validation-warning'></div>")
                .text(message).insertAfter("#config-table");
        }

        $("#delete-event-button").click(function(){
            var key = $("#event-key-to-delete").val();
            $.ajax({
                url: "/affirmative/unregister_event",
                type: "POST",
                data: {key_to_delete: key},
                success: function(){ location.reload(); },
                error: function(){ alert("something went wrong."); }
            });
        });

        get_event_config();

    });

</script>

<h2>Manage Events</h2>
<table id='config-table'>
    <thead>
    <tr>
        <th>Name</th>
        <th>Key</th>
        <th>Minutes</th>
        <th>Hours</th>
        <th>Day of Month</th>
        <th>Months</th>
        <th>Days of Week</th>
        <th>Min Allowed</th>
        <th>Max Allowed</th>
        <th>Lookback</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<h3>Register an event checker</h3>
Name: <input id='register-event-name' /><br/><br/>
<button id='register-event-button'>submit</button><br/><br/>

<h3>Update an event checker</h3>
<p id='update-event-explanation'>
    Some of the conventions differ from the cron format you may be used to (i.e.
    some don't start at 0 to align more closely with Python).  Times refer to UTC
    time.
</p>

Key: <input id='update-event-key' /> <br/>
Cron Minutes: <input class='cron-input' id='update-event-cron-minutes' /> (0-59)  <br/>
Cron Hours: <input class='cron-input' id='update-event-cron-hours' /> (0-23) <br/>
Cron Days of Month: <input class='cron-input' id='update-event-cron-days-of-month' /> (1-31) <br/>
Cron Months: <input class='cron-input' id='update-event-cron-months' /> (1-12) <br/>
Cron Days of Week: <input class='cron-input' id='update-event-cron-days-of-week' /> (0-6, 0 = Monday) <br/><br/>

Min allowed: <input id='update-event-min-allowed' /><br/>
Max allowed: <input id='update-event-max-allowed' /><br/>
Lookback String: <input id='update-event-lookback-string' /> (This says how far back in time we will look to count events.)<br/><br/>

<button id='update-event-button'>Submit</button><br/><br/>
<h3>Unregister an event checker</h3>
Delete checker with key: <input id='event-key-to-delete' name='event-key-to-delete'/><br/>
<button id='delete-event-button'>Submit</button>
{% endblock %}
