{% extends "layout.html" %}
{% block content %}
<!doctype html>
<title>View Events</title>

<script type="text/javascript">

// Global container
affirmative_ui = {};
affirmative_ui.config_by_key = {};

$(document).ready(function(){

    var get_config = function(){
        $.ajax({
            url: "/affirmative/get_event_config",
            data: {},
            async: false,
            success: function(data){ 
                var config = JSON.parse(data);
                affirmative_ui.config_by_key = config;
            },
            error: function(){
                $("<div class='alert alert-danger'>Something went wrong getting config.</div>")
                    .prependTo("#dashes");
            }
        });
    }
    var get_dash_data = function(){
        $.ajax({
            url: "/affirmative/get_check_history",
            data: {},
            timeout: 10000,
            success: function(data){ render_dashes(JSON.parse(data)); },
            error: function(){
                $("<div class='alert alert-danger'>Something went wrong getting dash.</div>")
                    .prependTo("#dashes");
            }
        });
    }

    var make_check_mouseover_text = function(check_obj){
        var s = "";
        s += "Num: " + check_obj.num_observed;
        var utc_seconds = check_obj.time;
        var d = new Date(utc_seconds * 1000);
        var local_string = d.toString();
        var utc_string = d.toUTCString();
        s += "<br/> UTC: " + utc_string;
        s += "<br/> local: " + local_string;
        return s;
    }

    var get_cron_string_from_config_obj = function(config_obj){
        var s = "cron: ";
        s += " " + config_obj.cron_minutes;
        s += " " + config_obj.cron_hours;
        s += " " + config_obj.cron_days_of_month;
        s += " " + config_obj.cron_months;
        s += " " + config_obj.cron_days_of_week;
        s += " currently needing between " + config_obj.min_allowed + " and " + 
            config_obj.max_allowed;
        s += " over " + config_obj.lookback_string;
        return s;
    }

    var get_last_event_time_string_from_history = function(history){
        var now_epoch = Math.floor((new Date).getTime()/1000);
        var last_epoch = history[history.length - 1].time;
        var minutes_ago = (now_epoch - last_epoch) / 60;
        return "Last check was " + minutes_ago.toFixed(2) + " minutes ago."
    }

    var render_dashes = function(check_history){
        $("#dashes").html("");
        var regex = new RegExp($("#event-name-regex").val());
        for(var key in check_history){

            var event_config = affirmative_ui.config_by_key[key];
            var event_name = event_config.name;
            if(!regex.test(event_name)){
                continue;
            }

            var this_history = check_history[key].slice(-10);

            var event_name_elem = $("<span class='event-name'></span>")
                .text(event_name + " (" + key + ")");
            var dash_container = $("<div class='dash-container'></div>");
            dash_container.append(event_name_elem);
            var dash_details = $("<div></div>");
            var config_details = $("<div class='config-details'></div>")
                .text(get_cron_string_from_config_obj(event_config));
            var last_event_details = $("<div class='last-event-details'></div>")
                .text(get_last_event_time_string_from_history(this_history));

            config_details.appendTo(dash_details);
            last_event_details.appendTo(dash_details);

            for(var i = 0; i < this_history.length; i++){
                var this_check = this_history[i];
                var mouseover_text = make_check_mouseover_text(this_check);
                var in_bounds = this_check.num_observed >= this_check.min_allowed && 
                    this_check.num_observed <= this_check.max_allowed;
                if(in_bounds){
                    $("<img class='check-pass' src='/affirmative/static/green_checkmark.svg'/>")
                        .appendTo(dash_details)
                        .tooltip({content: mouseover_text, items: "img"});
                }
                else{
                    $("<img class='check-fail' src='/affirmative/static/red_x.png' />")
                        .appendTo(dash_details)
                        .tooltip({content: mouseover_text, items: "img"});
                }
            }
            dash_details.appendTo(dash_container);
            dash_container.appendTo("#dashes");
            
            
        }
    }

    var display_raw_events = function(event_name){
        var events_container = $("#raw-events");
        events_container.html("");
        $.get("/affirmative/events/" + event_name, {}, function(resp){
            var resp = JSON.parse(resp);
            for(var i in resp){
                var this_event = resp[i];
                var d = new Date(this_event.time * 1000);
                var epoch = this_event.time;
                var local_time = d.toString();
                var utc_time = d.toUTCString();
                var date_string = "epoch: " + epoch + ", UTC: " +
                    utc_time + ", local: " + local_time;
                events_container.append("<div>" +  date_string + "</div>");
            }
        });
    }

    $("#submit-regex-button").click(function(){
        get_dash_data();
    });

    $("#display-raw-events-button").click(function(){
        var event_name = $("#events-by-event-name-input").val();
        display_raw_events(event_name);
    });

    get_config();
    get_dash_data();
    setInterval(get_dash_data, 10000);

});

</script>

<h2>View Events</h2>
<p>Mouseover displayed icons to see details of the outcome for the event.</p>
Show dashboards by event name regex <input id='event-name-regex'/> <button id='submit-regex-button'>Search</button>
View most recent events by name: <input id='events-by-event-name-input' /> <button id='display-raw-events-button'>Fetch</button>
<div id='raw-events'></div>
<br/>
<br/>
<div id='dashes'></div>
{% endblock %}
