{% extends "layout.html" %}
{% block content %}
<!doctype html>
<title>View Events</title>

<script type="text/javascript">

    // Global container
    affirmative_ui = {};
affirmative_ui.config_by_name = {};

    $(document).ready(function(){

        var get_config = function(){
            $.ajax({
                url: "/affirmative/get_event_config",
                data: {},
                async: false,
                success: function(data){ 
                    var config = JSON.parse(data);
                    for(var i = 0; i < config.length; i++){
                        var this_config = config[i];
                        affirmative_ui.config_by_name[this_config.name] = this_config;
                    }
                },
                error: function(){ alert("something went wrong."); }
            });
        }
        var get_dash_data = function(){
            $.ajax({
                url: "/affirmative/get_check_history",
                data: {},
                success: function(data){ render_dashes(JSON.parse(data)); },
                error: function(){ alert("something went wrong."); }
            });
        }

        var make_check_mouseover_text = function(check_obj){
            var s = "";
            s += "Num: " + check_obj.count;
            var utc_seconds = check_obj.time;
            var d = new Date(0);
            d.setUTCSeconds(utc_seconds);
            s += "<br/> Time: " + d.toISOString();
            return s;
        }

        var get_cron_string_from_config_obj = function(config_obj){
            var s = "cron: ";
            s += " " + config_obj.cron_minutes;
            s += " " + config_obj.cron_hours;
            s += " " + config_obj.cron_days_of_month;
            s += " " + config_obj.cron_months;
            s += " " + config_obj.cron_days_of_week;
            s += " currently needing " + config_obj.num_required;
            s += " over " + config_obj.lookback_string;
            return s;
        }

        var render_dashes = function(check_history){
            $("#dashes").html("");
            var regex = new RegExp($("#event-name-regex").val());
            for(var key in check_history){
                if(!regex.test(key)){
                    continue;
                }
                var event_config = affirmative_ui.config_by_name[key];
                var event_name_elem = $("<span class='event-name'></span>")
                    .text(key);
                var dash_container = $("<div class='dash-container'></div>");
                dash_container.append(event_name_elem);
                var dash_details = $("<div></div>");
                var config_details = $("<div class='config-details'></div>")
                    .text(get_cron_string_from_config_obj(event_config));
                config_details.appendTo(dash_details);
                var this_history = check_history[key].slice(-10);
                for(var i = 0; i < this_history.length; i++){
                    var this_check = this_history[i];
                    if(this_check.met_required){
                        $("<img class='check-pass' src='/affirmative/static/green_checkmark.svg'/>")
                            .appendTo(dash_details)
                            .tooltip({content: make_check_mouseover_text(this_check), items: "img"});
                    }
                    else{
                        $("<img class='check-fail' src='/affirmative/static/red_x.png' />")
                            .appendTo(dash_details)
                            .tooltip({content: make_check_mouseover_text(this_check), items: "img"});
                    }
                }
                dash_details.appendTo(dash_container);
                dash_container.appendTo("#dashes");
                
                
            }
        }

        $("#submit-regex-button").click(function(){
            get_dash_data();
        });

        get_config();
        setTimeout(get_dash_data, 500);

    });

</script>

<h2>View Events</h2>
<p>Mouseover displayed icons to see details of the outcome for the event.</p>
Event name regex <input id='event-name-regex'/> <button id='submit-regex-button'>Search</button>
<br/>
<br/>
<div id='dashes'></div>
{% endblock %}
